/*
	Main Visuals 

*/
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
body {
  background-image: url('../image/cardinal.png');
  color: #ffffff;
}
.header {
  margin-top: 40px;
  text-align: center;
}
.header h1 {
  font-size: 70px;
  text-shadow: 0 6px 12px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075);
}
.header h3 {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075);
}
.subheader {
  width: 535px;
  height: 40px;
  margin: auto;
}
.subheader .like,
.subheader .link,
.subheader .tweet {
  position: relative;
  float: left;
}
.subheader .like {
  margin-top: 19px;
  width: 140px;
}
.subheader .link {
  width: 278px;
}
.subheader .tweet {
  margin-top: 19px;
  width: 117px;
}
.subheader a {
  color: black;
  text-decoration: underline;
}
.subheader a:hover {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: white;
}
.main {
  width: 716px;
  margin: auto;
  margin-top: 60px;
}
.main img {
  width: 700px;
}
#images {
  padding: 8px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #FAFAFA;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}
.carousel-inner {
  padding-bottom: 80px;
}
.carousel-inner > .item > img {
  position: relative;
  top: 80px;
}
.carousel-caption {
  position: absolute;
  bottom: auto;
  padding: 10px;
  height: 60px;
  background: black;
  text-align: center;
}
.carousel-caption h1 {
  font-size: 50px;
}
.carousel-caption h1.shortenText {
  font-size: 30px;
}
.carousel-caption h1.reallyShorten {
  font-size: 25px;
  line-height: 30px;
}
.carousel-control {
  top: 240px;
  left: -70px;
}
.carousel-control.right {
  right: -70px;
}
#footer {
  text-align: center;
}
#footer .text {
  margin-top: 6px;
}
#footer a:hover {
  font-weight: bold;
  font-size: 1.2em;
}
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */

}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */

  margin: 0 auto -40px;
}
/* Set the fixed height of the footer here */
#push,
#footer {
  height: 40px;
}
#footer {
  background-color: black;
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  -webkit-opacity: 0.7;
  opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
  filter: alpha(opacity=70);
}
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
